.NameInput {
  padding: 10px;
  border-radius: 10px;
}
.Generator {
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.yourCard {
  display: flex;
  gap: 20px;
}
.Card {
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cardHrader {
  text-align: center;
  margin: 0;
  background-color: red;
  color: white;
  height: 80px;
}
.cardHrader h1 {
  margin: 0;
}
.cardBody {
  background-color: aquamarine;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 40px;
}
.deleteButton {
  display: block;
  margin: auto;
}
